<config>
    <version>1</version>

    <!-- Trigger -->
    <trigger_url>http://127.0.0.1:80/plugins/domonial/core/php/jeedomonial.php</trigger_url>
    <apikey>8cqbhbjja6c4htcymuv2</apikey>
    <trigger_timeout>10</trigger_timeout>
	
	<!-- Process -->
    <process_domonialmsg>yes</process_domonialmsg>

    <!-- Daemon -->
    <daemon_pidfile>/tmp/domonial.pid</daemon_pidfile>

	<!-- BanCanaux -->
    <BanCanaux>11</BanCanaux>
	
    <!-- Log messages -->
    <log_msg>yes</log_msg>
    <log_msgfile>/usr/share/nginx/www/jeedom/core/class/../../log/domonialcmd.message</log_msgfile>
   
    <!-- Logging -->
    <loglevel>error</loglevel>
    <logfile>/usr/share/nginx/www/jeedom/core/class/../../log/domonialcmd.error</logfile>
  
    <!-- Socket server externe -->
    <sockethost>192.168.0.246</sockethost>
    <socketport>55003</socketport>
  
</config>
